body {
  font-family: "Arial", sans-serif;
  background-color: #0c052c;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-top: 100px;
  color: #8ec7ea;
  font-size: 60px;
}

img {
  width: 150px;
  margin-bottom: 50px;
}

#crypto-container {
  width: 80%;
  max-width: 650px;
  padding: 20px;
  text-align: center;
  border: 2px solid #b22abd;
}

.crypto-item {
  color: white;
  margin-top: 10px;
  background: #17334c;
  padding: 10px;
  border-radius: 5px;
}
